.bottom-slider-section {
  margin-bottom: 143px;
  color: $white;
  @include media("<widescreen") {
    padding: 0 40px;
    margin-bottom: 100px;
  }
  @include media("<desktop") {
    padding: 0 15px;
    margin-bottom: 50px;
  }
  @include media("<tablet") {
    margin-bottom: 30px;
    padding-top: 30px;
    padding: 0 5%;
  }
  .owl-nav {
    margin: 0;
    .owl-prev {
      @include media("<desktop") {
        text-indent: -3px;
      }
    }
    .owl-prev,
    .owl-next {
      position: absolute;
      top: 50%;
      left: -30px;
      transform: translateY(-50%);
      width: 55px;
      height: 55px;
      border: 3px solid $red !important;
      border-radius: 50%;
      color: $white;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 38px !important;
      text-decoration: none;
      opacity: 1;
      @include animate(opacity);
      line-height: 55px;
      outline: none;
      margin: 0;
      @include media("<desktop") {
        left: 15px;
        width: 40px;
        height: 40px;
        border: 2px solid $red !important;
      }
      @include media("<tablet") {
        left: -5px;
        top: 57%;
        border-width: 2px;
        width: 30px;
        height: 30px;
      }
      @include media("<phone") {
        top: 57%;
      }
      &:hover {
        background-color: transparent;
      }
      &:after {
        font-family: "icomoon";
        font-size: inherit;
        content: "\e907";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-weight: 100;
        @include media("<desktop") {
          max-width: 90%;
        }
        @include media("<tablet") {
          font-size: 24px;
        }
      }
      span {
        display: none;
      }
      &:hover {
        opacity: 0.8;
      }
    }
    .owl-next {
      left: auto;
      right: -30px !important;
      @include media("<desktop") {
        left: auto;
        right: 15px !important;
      }
      @include media("<tablet") {
        right: -3px !important;
        left: auto;
      }
      &:after {
        font-family: "icomoon";
        font-size: inherit;
        content: "\e906";
        position: absolute;
        top: 50%;
        left: 50%;
        font-weight: 100;
        transform: translate(-50%, -50%);
        @include media("<tablet") {
          font-size: 24px;
        }
      }
    }
  }
  .owl-dots {
    position: absolute;
    bottom: 25px;
    left: 0;
    right: 0;
    width: 100%;
    text-align: center;
    @include media("<widescreen") {
      bottom: 15px;
    }
    @include media("<tablet") {
      bottom: 0px;
    }
    .owl-dot {
      &.active {
        span {
          background-color: $red;
          opacity: 0.8;
        }
      }
      span {
        height: 2px;
        width: 40px;
        display: inline-block;
        background-color: $white;
        opacity: 0.25;
      }
    }
  }
  .slide-holder {
    text-align: center;
    position: relative;
    color: $white;
    font-size: 22px;
    font-weight: 400;
    @include media("<desktop") {
      font-size: 18px;
    }

    .h1 {
      font-weight: 400;
      font-size: 40px;
      margin-bottom: 25px;
      @include media("<widescreen") {
        font-size: 35px;
      }
      @include media("<desktop") {
        font-size: 30px;
        margin-bottom: 20px;
      }
      @include media("<tablet") {
        font-size: 22px;
        line-height: 1;
        margin-bottom: 10px;
      }
      @include media('<phone') {
          font-size: 22px !important;
          margin-bottom: 7px;
      }
    }
  }
  .btn-borderer {
    font-size: 13px;
    min-width: 188px;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    padding: 15px 10px;
    border: 1px solid $white;
    opacity: 1;
    @include animate(opacity);
    @include media("<desktop") {
      padding-top: 10px;
      padding-bottom: 10px;
      font-size: 12px;
    }
    @include media("<tablet") {
      min-width: 100px;
      font-size: 9px;
      padding-top: 8px;
      padding-bottom: 4px;
    }
    &:hover {
      opacity: 0.8;
    }
  }
  p {
    margin-bottom: 30px;
    @include media("<widescreen") {
      font-size: 14px;
      margin-bottom: 20px;
    }
    @include media("<desktop") {
      margin-bottom: 10px;
      font-size: 13px;
    }
    @include media("<tablet") {
      font-size: 12px;
      letter-spacing: 0px;
      line-height: 14px;
    }

  }
  .img-holder {
    width: 100%;
    position: relative;
    @include media("<tablet") {
  
    }
  }
  .text-holder {
    padding:70px 57px 57px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    right: 0;
    text-align: center;
    max-width: 950px;
    margin: 0 auto;
    @include media("<widescreen") {
      padding: 60px 35px 5px;
    }
    @include media("<desktop") {
      padding-top: 35px;
      padding-left: 20px;
      padding-right: 20px;
    }
    @include media("<tablet") {
      padding: 20px 10px 100px;
      font-size: 12px;
      padding-left: 10px;
      padding-right: 10px;
    }
    @include media('<640px') {
        top:25%;
        transform: translateY(-30%);
    }

    p{
        font-size: 18px;
        max-width: 700px;
        margin-left: auto;
        margin-right: auto;  
        @include media('<widescreen') {
          max-width: 900px;
        }
        @include media('<desktop') {
            font-size: 16px;
        }
        @include media('<tablet') {
            font-size: 12px;
     
        }
        @include media('<phone') {
        }
    }
  }
  .slider-logo-holder {
    position: absolute;
    right: 29px;
    top: 31px;
    width: 173px;
    @include media("<desktop") {
      width: 100px;
      right: 10px;
      top: 10px;
    }
    @include media("<tablet") {
 height: auto;
display: block;
      position: static;
      transform:translateX(0);
      width: 90px;
      margin:  0 auto 15px;

    }
    @include media('<phone') {
      top:15px;
    }
    img {
      width: 100%;
      vertical-align: top;
    }
  }
}

