section.bottom-slider-section
  .container
    .bottom-slider.owl-carousel.owl-theme.wow.fadeIn(data-wow-duration="2s")
      .slide-holder
        .text-holder
          h1.h1 Живи по полной
          p Яркие снимки даже в темное время суток
          a(href="#").btn-borderer Купить
        .img-holder
          img(src="assets/images/slide2-1.jpg")
        a(href="#").slider-logo-holder
          img(src="assets/images/zte-logo.png", alt="zte logo").slider-logo
      .slide-holder
        .text-holder
          h1.h1 Живи по полной
          p Яркие снимки даже в темное время суток
          a(href="#").btn-borderer Купить
        .img-holder
          img(src="assets/images/slide2-1.jpg")
        a(href="#").slider-logo-holder
          img(src="assets/images/zte-logo.png", alt="zte logo").slider-logo
      .slide-holder
        .text-holder
          h1.h1 Живи по полной
          p Яркие снимки даже в темное время суток
          a(href="#").btn-borderer Купить
        .img-holder
          img(src="assets/images/slide2-1.jpg")
        a(href="#").slider-logo-holder
          img(src="assets/images/zte-logo.png", alt="zte logo").slider-logo