section.bottom-slider-section
  .container
    .bottom-slider.owl-carousel.owl-theme.wow.fadeIn(data-wow-duration="2s")
      .slide-holder
        .text-holder
          h1.h1 Яркие снимки даже в темное время суток
          p 16 мегапиксельная камера с апертурой f/1.8 и LED вспышкой позволяет делать великолепные детализированнaые снимки даже в условиях недостаточной освещенности. Возможность применения эффекта художественного размытия фона в реальном времени + продвинутые алгоритмы бьютификации.
          a(href="https://shop.myzte.ru/?utm_source=afisha&utm_medium=unit&utm_content=sp_button&utm_campaign=v9_launch").btn-borderer Купить
        .img-holder
          img(src="assets/images/slide2-1.jpg" alt="slide img")
        a(href="#").slider-logo-holder
          img(src="assets/images/zte-logo-white.png", alt="zte logo").slider-logo
      .slide-holder
        .text-holder
          h1.h1 Индентификация лица Face ID
          p Просто возьмите смартфон и он немедленно разблокируется узнав своего владельца благодаря технологии распознавания лица
          a(href="https://shop.myzte.ru/?utm_source=afisha&utm_medium=unit&utm_content=sp_button&utm_campaign=v9_launch").btn-borderer Купить
        .img-holder
          img(src="assets/images/slide2-2.jpg" alt="slide img")
        a(href="#").slider-logo-holder
          img(src="assets/images/zte-logo-white.png", alt="zte logo").slider-logo
      .slide-holder
        .text-holder
          h1.h1 Безрамочный экран 18 на 9
          p Безрамочный дисплейи соотношение сторон 18:9 позволяют комфортно пользоваться смартфоном с диагональю 5.7 дюйма одной рукой
          a(href="https://shop.myzte.ru/?utm_source=afisha&utm_medium=unit&utm_content=sp_button&utm_campaign=v9_launch").btn-borderer Купить
        .img-holder
          img(src="assets/images/slide2-3.jpg" alt="slide img")
        a(href="#").slider-logo-holder
          img(src="assets/images/zte-logo-white.png", alt="zte logo").slider-logo