section#section2.event-section
  .section-image
    img(src="assets/images/img2.jpg", alt="event image")
  .bg-black
    .container
      .event-info
        .decorate-text 
          div.wow.fadeInLeft(data-wow-duration="1s"  data-wow-offset="-100") Реджи Сноу
          span.wow.fadeInLeft(data-wow-duration="1.5s" data-wow-offset="-100") в 16 тонн
        span.number 01
        .text-holdediv.wow.fadeIn(data-wow-duration="2s" data-wow-offset="380")
          time(datetime="2018-04-11") 11 апреля 
          h1.h1 Концерт Реджи Сноу в 16 тонн
          p Горизонт ожидания, согласно традиционным представлениям, использует биографический метод. Выявляя устойчивые архетипы на примере художественного творчества, можно сказать, что искусство представляет собой символический метафоризм. Весьма существенно следующее: художественная контаминация многопланово дает социально-психологический фактор. Априорная бисексуальность монотонно трансформирует символизм. Континуальность художественного процесса иллюстрирует принцип артистизма.
    .owl-carousel.owl-theme.events-slider
      .slide-wrapper.wow.zoomIn(data-wow-duration="1s")
        .img-holder
          img(src="assets/images/slide1.jpg", alt="slide1")
        strong.img-caption Фото сделаны на смартфон ZTE BLADE V9
        .additional-info
          .descr-section.wow.fadeInUp(data-wow-duration="3s")
            p Фотограф-документалист Раймон Кошетье известен мировой общественности как одна из центральных фигур новой волны.
      .slide-wrapper.wow.zoomIn(data-wow-duration="2s")
        .img-holder
          img(src="assets/images/slide2.jpg", alt="slide2")
        strong.img-caption Фото сделаны на смартфон ZTE BLADE V9
        .additional-info
          .descr-section.wow.fadeInUp(data-wow-duration="3s")
            p Фотограф-документалист Раймон Кошетье известен мировой общественности как одна из центральных фигур новой волны.
      .slide-wrapper.wow.zoomIn(data-wow-duration="3s")
        .img-holder
          img(src="assets/images/slide3.jpg", alt="slide3")
        strong.img-caption Фото сделаны на смартфон ZTE BLADE V9
        .additional-info
          .descr-section.wow.fadeInUp(data-wow-duration="3s")
            p Фотограф-документалист Раймон Кошетье известен мировой общественности как одна из центральных фигур новой волны.
      .slide-wrapper.wow.fadeIn(data-wow-duration="1s")
        .img-holder
          img(src="assets/images/slide1.jpg", alt="slide1")
        strong.img-caption Фото сделаны на смартфон ZTE BLADE V9
        .additional-info
          .descr-section.wow.fadeInUp(data-wow-duration="3s")
            p Фотограф-документалист Раймон Кошетье известен мировой общественности как одна из центральных фигур новой волны.
      .slide-wrapper.wow.zoomIn(data-wow-duration="2s")
        .img-holder
          img(src="assets/images/slide2.jpg", alt="slide2")
        strong.img-caption Фото сделаны на смартфон ZTE BLADE V9
        .additional-info
          .descr-section.wow.fadeInUp(data-wow-duration="3s")
            p Фотограф-документалист Раймон Кошетье известен мировой общественности как одна из центральных фигур новой волны.
      .slide-wrapper.wow.zoomIn(data-wow-duration="3s")
        .img-holder
          img(src="assets/images/slide3.jpg", alt="slide3")
        strong.img-caption Фото сделаны на смартфон ZTE BLADE V9
        .additional-info
          .descr-section.wow.fadeInUp(data-wow-duration="3s")
            p Фотограф-документалист Раймон Кошетье известен мировой общественности как одна из центральных фигур новой волны.
