section#section2.event-section
  .common-slider.owl-carousel.owl-theme
    .common-slide
      .section-image
        img(src="assets/images/slide1-banner.jpg", alt="event image")
      .bg-black
        .container
          .event-info
            .decorate-text 
              div.wow.fadeInLeft(data-wow-duration="1s"  data-wow-offset="-100") Rejjie Snow 
              span.wow.fadeInLeft(data-wow-duration="1.5s" data-wow-offset="-100") в 16 тонн
            span.number 01
            .text-holder.wow.fadeIn(data-wow-duration="2s" data-wow-offset="380")
              time(datetime="2018-04-11") 11 апреля 
              h1.h1 Rejjie Snow в клубе «16 тонн»
              p После релиза одного из самых ярких рэп-альбомов 2018 года («Dear Annie» — обязательно послушайте, если еще не) ирландец собрал чемоданы и отправился с большим туром путешествовать по миру. Тогда еще прохладная Москва встретила Реджи тесным клубом и Кариной Истоминой за вертушками, которая отпахала вместе с артистом всю его программу от начала до конца. 
              p В «Тоннах» в этот вечер было не протолкнуться, а мы впервые наблюдали живой и при этом большой концерт, припарковавшись за барной стойкой. И ничуть не пожалели: читать вместе с залом уже знакомые тексты в обнимку с «Негрони» оказалось гораздо приятнее, чем ожидалось. Вот вам готовый лайфхак. 
              p Выступление закончилось заслуженными овациями и плотным ужином. Уходить из клуба не хотелось: в этот вечер в Лиге чемпионов волшебно рубились «Реал» и «Ювентус», и мы переместились за барную стойку в соседнем зале. Лютый камбэк от итальянцев, драматичный пенальти в конце от испанцев, голый торс от Роналду и наши довольные и немного хмельные морды в качестве резюме этого вечера. Пора домой, а Реджи Сноу спасибо и надеемся на скорую встречу снова. 
        .owl-carousel.owl-theme.events-slider
          .slide-wrapper.wow.zoomIn(data-wow-duration="1s")
            .img-holder
              img(src="assets/images/ev1img1.jpg", alt="slide1")
            a(href="#")
              strong.img-caption Фото сделаны на смартфон ZTE BLADE V9
            .additional-info
              .descr-section.wow.fadeInUp(data-wow-duration="3s")
                p Читать вместе с залом уже знакомые тексты в обнимку с «Негрони» оказалось гораздо приятнее, чем ожидалось. Вот вам готовый лайфхак.
          .slide-wrapper.wow.zoomIn(data-wow-duration="2s")
            .img-holder
              img(src="assets/images/ev1img2.jpg", alt="slide2")
            a(href="#")
              strong.img-caption Фото сделаны на смартфон ZTE BLADE V9
            .additional-info
              .descr-section.wow.fadeInUp(data-wow-duration="3s")
                p Читать вместе с залом уже знакомые тексты в обнимку с «Негрони» оказалось гораздо приятнее, чем ожидалось. Вот вам готовый лайфхак.
          .slide-wrapper.wow.zoomIn(data-wow-duration="3s")
            .img-holder
              img(src="assets/images/ev1img3.jpg", alt="slide3")
            a(href="")
              strong.img-caption Фото сделаны на смартфон ZTE BLADE V9
            .additional-info
              .descr-section.wow.fadeInUp(data-wow-duration="3s")
                p Читать вместе с залом уже знакомые тексты в обнимку с «Негрони» оказалось гораздо приятнее, чем ожидалось. Вот вам готовый лайфхак.
          .slide-wrapper.wow.zoomIn(data-wow-duration="3s")
            .img-holder
              img(src="assets/images/ev1img4.jpg", alt="slide3")
            strong.img-caption Фото сделаны на смартфон ZTE BLADE V9
            .additional-info
              .descr-section.wow.fadeInUp(data-wow-duration="3s")
                p Читать вместе с залом уже знакомые тексты в обнимку с «Негрони» оказалось гораздо приятнее, чем ожидалось. Вот вам готовый лайфхак.
    .common-slide
      .section-image
        img(src="assets/images/slide2-banner.jpg", alt="event image")
      .bg-black
        .container
          .event-info
            .decorate-text 
              div.wow.fadeInLeft.size-md(data-wow-duration="1s"  data-wow-offset="-100") Хаски 
              span.wow.fadeInLeft.size-md(data-wow-duration="1.5s" data-wow-offset="-100") в «Главclub»
            span.number 02
            .text-holder.wow.fadeIn(data-wow-duration="2s" data-wow-offset="380")
              time(datetime="2018-04-11") 11 апреля 
              h1.h1 Хаски в «Главclub»
              p Дмитрий Кузнецов, он же Хаски, в прошлом году громко заявил о себе «Панелькой» и «Пулей-дурой», а спустя несколько месяцев уже выступал перед огромной публикой Пикника «Афиши». И если тогда это воспринималось все же как некий аванс, то сейчас самый интеллигентный рэпер России без каких-либо проблем делает солдаут на площадке, вмещающей 3500 человек. 
              p Перфоманс Хаски (назвать скучным словом «концерт» его выступление нельзя, да и не хочется) состоял из ярких театрализованных монологов (мало кто знает, что рэпер частенько играет на сцене «Гоголь-центра») в виде коротких и заготовленных заранее видеороликов, совместного выступления с очень перспективным артистом bollywoodFM, жестких и очень нестандартных рок-аранжировок под электрогитару и классных каверов на «Розовое вино» Элджея и Федука и «Мне по**й» Фейса. 
              p Полный «Главclub» отблагодарил слэмом, шумной поддержкой и безумной энергетикой. И даже духота нам была нипочем. Однозначный лайк. 
        .owl-carousel.owl-theme.events-slider
          .slide-wrapper.wow.zoomIn(data-wow-duration="1s")
            .img-holder
              img(src="assets/images/ev2img1.jpg", alt="slide1")
            a(href="#")
              strong.img-caption Фото сделаны на смартфон ZTE BLADE V9
            .additional-info
              .descr-section.wow.fadeInUp(data-wow-duration="3s")
                p Мало кто знает, что рэпер частенько играет на сцене «Гоголь-центра»
          .slide-wrapper.wow.zoomIn(data-wow-duration="2s")
            .img-holder
              img(src="assets/images/ev2img2.jpg", alt="slide2")
            a(href="#")
              strong.img-caption Фото сделаны на смартфон ZTE BLADE V9
            .additional-info
              .descr-section.wow.fadeInUp(data-wow-duration="3s")
                p Мало кто знает, что рэпер частенько играет на сцене «Гоголь-центра»
          .slide-wrapper.wow.zoomIn(data-wow-duration="3s")
            .img-holder
              img(src="assets/images/ev2img3.jpg", alt="slide3")
            a(href="#")
              strong.img-caption Фото сделаны на смартфон ZTE BLADE V9
            .additional-info
              .descr-section.wow.fadeInUp(data-wow-duration="3s")
                p Мало кто знает, что рэпер частенько играет на сцене «Гоголь-центра»
          .slide-wrapper.wow.fadeIn(data-wow-duration="1s")
            .img-holder
              img(src="assets/images/ev2img5.jpg", alt="slide1")
            strong.img-caption Фото сделаны на смартфон ZTE BLADE V9
            .additional-info
              .descr-section.wow.fadeInUp(data-wow-duration="3s")
                p Мало кто знает, что рэпер частенько играет на сцене «Гоголь-центра»
          .slide-wrapper.wow.zoomIn(data-wow-duration="2s")
            .img-holder
              img(src="assets/images/ev2img6.jpg", alt="slide2")
            strong.img-caption Фото сделаны на смартфон ZTE BLADE V9
            .additional-info
              .descr-section.wow.fadeInUp(data-wow-duration="3s")
                p Мало кто знает, что рэпер частенько играет на сцене «Гоголь-центра»
          .slide-wrapper.wow.zoomIn(data-wow-duration="3s")
            .img-holder
              img(src="assets/images/ev2img7.jpg", alt="slide3")
            strong.img-caption Фото сделаны на смартфон ZTE BLADE V9
            .additional-info
              .descr-section.wow.fadeInUp(data-wow-duration="3s")
                p Мало кто знает, что рэпер частенько играет на сцене «Гоголь-центра»
          .slide-wrapper.wow.zoomIn(data-wow-duration="3s")
            .img-holder
              img(src="assets/images/ev2img8.jpg", alt="slide3")
            strong.img-caption Фото сделаны на смартфон ZTE BLADE V9
            .additional-info
              .descr-section.wow.fadeInUp(data-wow-duration="3s")
                p Мало кто знает, что рэпер частенько играет на сцене «Гоголь-центра»                            
    .common-slide
      .section-image
        img(src="assets/images/slide3-banner.jpg", alt="event image")
      .bg-black
        .container
          .event-info
            .decorate-text 
              div.wow.fadeInLeft.size-sm(data-wow-duration="1s"  data-wow-offset="-100") Закрытая премьера 
              span.wow.fadeInLeft.size-sm(data-wow-duration="1.5s" data-wow-offset="-100") «Мира Дикого Запада»
            span.number 03
            .text-holder.wow.fadeIn(data-wow-duration="2s" data-wow-offset="380")
              time(datetime="2018-04-11") 11 апреля 
              h1.h1 Закрытая премьера второго сезона «Мира Дикого Запада»
              p Второй сезон самого зубодробительного и интригующего сериала прошлого года стартовал в России с закрытого показа, организованного «Амедиатекой». Журналисты, кинокритики, пиарщики и просто яркие тусовщики Москвы трещали за бурбоном в Мультимедиа-арт-музее на Ордынке, попутно решая важные вопросики. 
              p Главный минус вечера: не самые удачные места в зале перед очень высоким джентльменом и плохой звук.
              p Главный бонус: бесплатное проникновение на гастроли Музея Людвига (собрание Русского музея) и много бурбона. Очень много бурбона!  
        .owl-carousel.owl-theme.events-slider
          .slide-wrapper.wow.zoomIn(data-wow-duration="1s")
            .img-holder
              img(src="assets/images/ev3img1.jpg", alt="slide1")
            strong.img-caption Фото сделаны на смартфон ZTE BLADE V9
            .additional-info
              .descr-section.wow.fadeInUp(data-wow-duration="3s")
                p Пользуясь случаем, напомним, что новые серии «Мира Дикого Запада» нужно ловить с 23 апреля. Не проморгайте! 
          .slide-wrapper.wow.zoomIn(data-wow-duration="2s")
            .img-holder
              img(src="assets/images/ev3img2.jpg", alt="slide2")
            strong.img-caption Фото сделаны на смартфон ZTE BLADE V9
            .additional-info
              .descr-section.wow.fadeInUp(data-wow-duration="3s")
                p Пользуясь случаем, напомним, что новые серии «Мира Дикого Запада» нужно ловить с 23 апреля. Не проморгайте! 
          .slide-wrapper.wow.zoomIn(data-wow-duration="3s")
            .img-holder
              img(src="assets/images/ev3img3.jpg", alt="slide3")
            strong.img-caption Фото сделаны на смартфон ZTE BLADE V9
            .additional-info
              .descr-section.wow.fadeInUp(data-wow-duration="3s")
                p Пользуясь случаем, напомним, что новые серии «Мира Дикого Запада» нужно ловить с 23 апреля. Не проморгайте! 
          .slide-wrapper.wow.fadeIn(data-wow-duration="1s")
            .img-holder
              img(src="assets/images/ev3img4.jpg", alt="slide1")
            strong.img-caption Фото сделаны на смартфон ZTE BLADE V9
            .additional-info
              .descr-section.wow.fadeInUp(data-wow-duration="3s")
                p Пользуясь случаем, напомним, что новые серии «Мира Дикого Запада» нужно ловить с 23 апреля. Не проморгайте! 
          .slide-wrapper.wow.zoomIn(data-wow-duration="2s")
            .img-holder
              img(src="assets/images/ev3img5.jpg", alt="slide2")
            strong.img-caption Фото сделаны на смартфон ZTE BLADE V9
            .additional-info
              .descr-section.wow.fadeInUp(data-wow-duration="3s")
                p Пользуясь случаем, напомним, что новые серии «Мира Дикого Запада» нужно ловить с 23 апреля. Не проморгайте! 
          .slide-wrapper.wow.zoomIn(data-wow-duration="3s")
            .img-holder
              img(src="assets/images/ev3img6.jpg", alt="slide3")
            strong.img-caption Фото сделаны на смартфон ZTE BLADE V9
            .additional-info
              .descr-section.wow.fadeInUp(data-wow-duration="3s")
                p Пользуясь случаем, напомним, что новые серии «Мира Дикого Запада» нужно ловить с 23 апреля. Не проморгайте! 
