section.full-screen
  .container
    .section-wrapper
      .text-holder.wow.fadeIn(data-wow-duration="5s")
        span.subtitle СПЕЦПРОЕКТ
        h1.h1 Ночь по полной
        p Субъективное восприятие, соприкоснувшись в чем-то со своим главным антагонистом в постструктурной поэтике, отражает культурный реципиент. Иными словами, стихотворение начинает возврат к стереотипам.
        a(href="#section2" data-scroll).scroll-down
          i.icon-down
      .wow.fadeIn(data-wow-duration="1s" data-wow-delay="0.5s")
        .info-box.wow.shake(data-wow-duration="1s" data-wow-delay="1s")
            strong.title Конкурс
            p Поделись материалом и получи возможность выиграть билет на концерт! 
            a(href="https://shop.myzte.ru/?utm_source=afisha&utm_medium=unit&utm_content=sp_button&utm_campaign=v9_launch") Подробнее