section.full-screen
  .container
    .section-wrapper
      .text-holder
        span.subtitle СПЕЦПРОЕКТ
        h1.h1 Ночь по полной
        p Субъективное восприятие, соприкоснувшись в чем-то со своим главным антагонистом в постструктурной поэтике, отражает культурный реципиент. Иными словами, стихотворение начинает возврат к стереотипам.
        a(href="#section2" data-scroll).scroll-down
          i.icon-down
      .info-box
        strong.title Конкурс
        p Поделись материалом и получи возможность выиграть билет на концерт! 
        a(href="#") Подробнее