header#header
  a(href="#").logo
    img(src="assets/images/site__logo.png", alt="афиша Dayly")
  span.menu-opener
    span MENU
  .menu
    span.menu-close
      i.icon-close
    .menu-list
      li
        a(href="#") Города 
      li
        a(href="#") Кино
      li
        a(href="#") Еда
      li
        a(href="#") Мозг
      li
        a(href="#") Красота
      li
        a(href="#") Технологии
      li
        a(href="#") Инфопорно
      li
        a(href="#") Музыка
      li
        a(href="#") Отношения
      li
        a(href="#") Деньги
      li
        a(href="#") Новости