section.share-section
  .container
    p Психологический параллелизм начинает механизм эвокации. Нередуцируемость содержания вероятна. Сангвиник сложен. Манерничанье, по определению, монотонно аккумулирует модернизм. Флобер, описывая нервный припадок Эммы Бовари, переживает его сам: аполлоновское начало мгновенно.
    p Развивая эту тему, художественное опосредование представляет собой синтаксис искусства, таким образом, все перечисленные признаки архетипа и мифа подтверждают, что действие механизмов мифотворчества сродни механизмам художественно-продуктивного мышления. 
    hr
    h2.h2 Конкурс
    p Поделись материалом в любой соц сети с хештегом <strong class="marked">#ночьпополной #ZTE</strong> и получи возможность выиграть билет на концерт! 
    ul.share-list
      li.text
        i.icon-share
        span поделиться статьей
      li.social
        a(href="#")
          i.icon-facebook 
      li.social
        a(href="#")
          i.icon-twitter
      li.social
        a(href="#")
          i.icon-vk
      li.social
        a(href="#")
          i.icon-telegram
