doctype html
html(lang='ru')
  include ../partials/head
  body
    #wrapper
      include ../partials/header
      include ../partials/full-screen-section
      include ../partials/event-section
      include ../partials/share-section
      include ../partials/bottom-slider
      include ../partials/foot