#header {
    font-family: 'GroteskDemi';
    background-color: $black;
    display: flex;
    font-size: 15px;
    border-bottom: 1px solid #333;
    @include media('<desktop') {
        justify-content: space-between;
        align-items: center;
    }
    .logo {
        display: inline-block;
        padding: 24px 30px 22px;
        border-right: 1px solid $dark;
        opacity: 1;
        width: 274px;
        flex-shrink: 0;
        @include media('<widescreen') {
            width: 213px;
            padding: 28px 30px 22px;
        }
        @include media('<tablet') {
            padding: 17px 30px;
        }
        @include animate(opacity);
        &:hover {
            opacity: 0.8;
        }
        img {
            vertical-align: top;
        }
    }
    .menu {
        z-index: 100;
        padding: 30px 30px 28px;
        @include animate(transform opacity);
        width: 100%;
        @include media('<desktop') {
            transform: translateX(-100%);
            opacity: 0;
            position: fixed;
            left: 0;
            right: 0;
            bottom: 0;
            top: 0;
            background-color: $white;
            display: flex;
            align-items: flex-start;
            justify-content: center;
            flex-wrap: wrap;
            overflow: auto;
        }
        @include media('<tablet') {
            top: 0;
        }
        .menu-close {
            display: none;
            font-size: 22px;
            @include media('<desktop') {
                display: block;
                opacity: 0;

            }
        }
        .menu-list {
            display: flex;
            @extend %listreset;
            @include media('<widescreen') {
                font-size: 14px;
            }
            @include media('<desktop') {
                flex-wrap: wrap;
                text-align: center;
                width: 100%;
                align-self: flex-start;
                @include media('<desktop') {
                    font-size: 17px;
                }
            }
            li {
                padding-right: 20px;
                @include media('<widescreen') {
                    padding-right: 17px;
                }
                @include media('<desktop') {
                    width: 90%;
                    margin: 0 auto;
                    overflow: hidden;
                    padding: 0;
           
                }
            }
            a {
                color: $white;
                text-decoration: none;
                @include animate(color);
                @include media('<desktop') {
                    line-height: 40px;
                }
                &:hover {
                    color: $red;
                }
                @include media('<desktop') {
                    width: 100%;
                    color: $black;
                    transform: translateX(-100%);
                    display: block;
                    opacity: 0;
                    transition:transform 0.55s ease-in-out, opacity 1s ;
                    
                }
            }
        }
    }
    .menu-opener {
        display: none;
        cursor: pointer;
        width: 30px;
        border-top: 3px solid $white;
        border-bottom: 3px solid $white;
        margin-right: 30px;
        span {
            margin: 7px 0;
            font-size: 0;
            text-indent: -9999px;
            width: 100%;
            height: 3px;
            background-color: $white;
            display: block;
        }
        @include media('<desktop') {
            display: block;
        }
    }
    .nav-active & .menu {
        @include media('<desktop') {
            transform: translateX(0);
            opacity: 1;
        }
    }
}

.nav-active {
    position: fixed;
    overflow: hidden;
    #header {
        .menu {
            .menu-close {}
            .menu-list {
                li {
                    @include media('<desktop') {
                        @for $i from 1 through 20 {
                   
                            &:nth-child(#{$i}) a {
                                transition-delay:#{$i*0.12}s;
                            }
                    
                    }
                    }
                }
                a {
                    opacity: 1;
                    transform: translateX(0);

                }
            }
        }
        .menu-close {
 
            @include media('<desktop') {
                transform:translateX(-100%);
                @include animate(transform opacity);
                transition-delay: 1.5s;
                opacity: 1;
                transform:translateX(0);
            }
        }
    }
}